.tasklists-create {
    .form > * {
        margin-top: 10px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .task-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            margin-left: 10px;
        }
    }
}
