.task-lists {
    .task {
        background-color: rgba(0, 0, 0, 0.04);
    }

    .add {
        position: fixed;

        bottom: 5%;
        right: 5%;
    }

    .prompt {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}